.background{
    background:url(../images/bg.jpg);
    background-size:contain;
    background-repeat: no-repeat; 
}

.login_input{
    border-radius: 5px;
    position: relative;
    width: 200px;
    height: 40px;        
 }

 .captcha_input{
    border-radius: 5px;
    position: relative;
    left: px;
    width: 100px;
    height: 38px;        
 }

 .submit{
    border-radius: 5px;
 }

 .reset{
    border-radius: 5px;
    left: 5px;
 }

.search{
    border-radius: 10px;
    position: relative;
    top: 2px;
    width: 200px;
    height: 35px;        
 }

 #result{
    position: absolute;
    top: 58px;
    left: 70px;
    z-index: 999;
    width: 300px;
    height: auto;        
    background-color: white;
    border-radius: 5px;
 }
